@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Merriweather:wght@900&family=Nunito+Sans:wght@300;600;800&display=swap');


body {
  font-family: 'Comfortaa', cursive;
  background-color: #f0f2f3;
}

.lang{
  font-family: 'Nunito Sans', Sans;
  font-size: 20px;
}

.gridblock{
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .gridblock{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridblock{
    
    grid-template-columns: repeat(3, 1fr)
  }
}